language: ruby
before_install:
  - sudo apt-get autoremove sqlite3
  - sudo apt-get install python-software-properties
  - sudo apt-add-repository -y ppa:travis-ci/sqlite3
  - sudo apt-get -y update
  - sudo apt-cache show sqlite3
  - sudo apt-get install sqlite3=3.7.15.1-1~travis1
  - sudo sqlite3 -version
  - gem update bundler
rvm:
  - "1.9.3"
  - "2.0.0"
  - "2.1.10"
  - "2.2.6"
  - "2.3.3"
script: bundle exec rspec spec
gemfile:
  - gemfiles/3.2.gemfile
  - gemfiles/4.2.gemfile
  - gemfiles/5.0.gemfile
matrix:
  exclude:
    - rvm: 1.9.3
      gemfile: gemfiles/5.0.gemfile
    - rvm: 2.0.0
      gemfile: gemfiles/5.0.gemfile
    - rvm: 2.1.10
      gemfile: gemfiles/5.0.gemfile
    - rvm: 2.2.6
      gemfile: gemfiles/3.2.gemfile
    - rvm: 2.3.3
      gemfile: gemfiles/3.2.gemfile
